
:root {
  // - - - - - FONTS - - - - - //
  --Roboto           : 'Roboto', sans-serif;
  --Nokora           : 'Nokora', sans-serif;

  // - - - - - COLORS - - - - - //
  --grey-darken-5    : #666B73;
  --grey-darken-3    : #77798C;
  --grey-darken-1    : #8F9197;
  --grey-darken      : #9E9FA3;
  --grey-lighten-1   : #B3B6BC;
  --grey-lighten-3   : #D2D2DA;

  --yellow-light     : #FFDEB4;

  --blue-darken-1    : #4565D7;
  --blue             : #5D7AE1;
  --blue-lighten-5   : #B0B8D6;

  --white            : #FFFFFF;

  --blue-darken      :  #232222;
  --black-lighten-3  : #393D44;
  --black-lighten-6  : #535559;

  // - - - - - SIZES - - - - - //
  --sidebar-width           : 300px;
  --header-height           : 64px;
  --scrollbar-width         : 6px;
}
